/* Color variables */

:root {
  --main-background-color: #ffffff;
  --secondary-background-color: #2f303a;
  --accent-color: #2196f3;
  --section-background-color: #f5f4fa;
  --our-contacts-color: rgba(255, 255, 255, 0.6);
  --main-text-color: #757575;
  --title-text-color: #212121;
  --logo-end-color: #000000;
  --time-func: cubic-bezier(0.4, 0, 0.2, 1);
  --time: 250ms;
}

/* General styles */

body {
  background-color: var(--main-background-color);
  color: var(--main-text-color);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding: 94px 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.section-title {
  margin-bottom: 50px;

  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

/* Logo styles */

.logo-header,
.logo-footer {
  font-family: 'Raleway', sans-serif;
  color: var(--accent-color);
  text-decoration: none;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.logo-header {
  margin-right: 93px;
}

.logo-header-end {
  color: var(--logo-end-color);
  line-height: 1.38;
}

.logo-footer {
  display: block;
  margin-bottom: 20px;
}

.logo-footer-end {
  color: var(--main-background-color);
  line-height: 1.38;
}

/* Header styles */

.header {
  border-bottom: 1px solid #ececec;
}

.site-nav,
.main-nav,
.nav,
.contacts {
  display: flex;
  align-items: center;
}

.nav-list:not(:last-child) {
  margin-right: 50px;
}

.nav-link.current-page {
  color: var(--accent-color);
}

.current-page::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;

  bottom: -1px;
  border-radius: 2px;
  background-color: var(--accent-color);

  animation-name: current-underline;
  animation-duration: 350ms;
  animation-timing-function: linear;
}

@keyframes current-underline {
  0% {
    transform: scaleX(0);
  }
  50% {
    transform: scaleX(0.5);
  }
  100% {
    transform: scaleX(1);
  }
}

.contacts-list:not(:last-child) {
  margin-right: 30px;
}

.contacts {
  margin-left: auto;
}

.nav,
.contacts {
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.nav-link {
  display: block;
  padding: 32px 0;
  position: relative;

  text-decoration: none;
  color: var(--title-text-color);
  transition: color var(--time) var(--time-func);
}

.contacts-link {
  display: flex;
  align-items: center;
  padding: 32px 0;

  text-decoration: none;
  color: var(--main-text-color);
  transition: color var(--time) var(--time-func);
}

.contacts-link-icon {
  margin-right: 10px;
  fill: currentColor;
}

.envelope {
  width: 16px;
  height: 12px;
}

.smartphone {
  width: 10px;
  height: 16px;
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

/* Footer styles */

.footer-background {
  padding: 60px 0;
  background-color: var(--secondary-background-color);
}

.footer {
  display: flex;
  gap: 70px;
  align-items: baseline;
}

.footer-address {
  text-decoration: none;
  font-style: normal;
  color: var(--main-background-color);
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: color var(--time) var(--time-func);
}

.footer-contacts {
  text-decoration: none;
  font-style: normal;
  color: var(--our-contacts-color);
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: color var(--time) var(--time-func);
}

.footer-headers-text {
  font-weight: 700;
  line-height: 1.71;
  text-transform: uppercase;
  color: var(--main-background-color);
  letter-spacing: 0.03%;
  margin-bottom: 20px;
}

.soc-link-footer.soc-link {
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
}

.adres-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-address:hover,
.footer-address:focus,
.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--accent-color);
}

.sign-us {
  margin-left: auto;
}

.sign-us-form {
  display: flex;
  gap: 12px;
}

.sign-us-input {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  background-color: #2f303a;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);

  font-size: 16px;
  letter-spacing: 0.03em;
  line-height: 1.25;
  color: var(--main-text-color);
}

.sign-us-input:focus-within {
  background-color: var(--main-background-color);
}

.sign-us-input::placeholder {
  font-size: 16px;
  letter-spacing: 0.03em;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.sign-us-input:focus-within::placeholder {
  color: var(--main-text-color);
}

.sign-us-button {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px 28px;
  border: 0;
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--main-background-color);
  cursor: pointer;
  transition: background-color var(--time) var(--time-func), box-shadow var(--time) var(--time-func);
}

.icon-send {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--main-background-color);
}

/* WebStudio */

/* Hero section styles */

.hero {
  background-color: var(--secondary-background-color);
  text-align: center;
}

.hero-background {
  padding: 200px 0;
  width: 1600px;
  margin: 0 auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/background-hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  max-width: 696px;
  margin: 0 auto 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-background-color);
}

.hero-button {
  padding: 10px 32px;
  border: 0;
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--main-background-color);
  cursor: pointer;
  transition: background-color var(--time) var(--time-func), box-shadow var(--time) var(--time-func);
}

.hero-button:hover,
.hero-button:focus,
.send-data-button:hover,
.send-data-button:focus,
.sign-us-button:hover,
.sign-us-button:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* Sections styles */

/* Our advantages section styles */

.advantages-title {
  margin-bottom: 10px;

  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  text-transform: uppercase;
  font-size: inherit;
}

.advantages-text {
  line-height: 1.71;
}

.advantages {
  display: flex;
}

.advantages-list:not(:last-child) {
  margin-right: 30px;
}

.advantages-list {
  list-style-type: none;
  width: 25%;
}

.advantages-thumb {
  display: flex;
  width: 270px;
  height: 120px;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  border-radius: 4px;
}

.our-adnvantages-icon {
  width: 70px;
  height: 70px;
}

/* What we do section styles */

.what-we-do {
  padding: 0 0 94px 0;
}

.what-we-do-list {
  display: flex;
}

.what-we-do-item:not(:last-child) {
  margin-right: 30px;
}

.what-we-do-item {
  position: relative;
}

.what-we-do-text {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 27px 0;

  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--main-background-color);
  background-color: rgba(47, 48, 58, 0.8);
}

/* Our team section styles */

/* cards animations */

.scene-flip {
  width: 270px;
  height: 260px;

  perspective: 600px;
}

.card-flip {
  width: 100%;
  height: 100%;
  position: relative;

  transform-style: preserve-3d;
  border: 1px solid var(--section-background-color);
  transition: transform var(--time) var(--time-func);
}

.team-card-flip {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-text {
  color: var(--main-text-color);
  transform: rotateY(180deg);
  padding: 30px;
}

.scene-flip:hover .card-flip {
  transform: rotateY(180deg);
}

.scene-spiral {
  width: 270px;
  height: 260px;
  position: relative;

  perspective: 600px;
  border-top: 1px solid var(--section-background-color);
  border-right: 1px solid var(--section-background-color);
  border-left: 1px solid var(--section-background-color);
}

.card-spiral-text {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 30px;
  opacity: 0;
  transform: scale(0) rotate(360deg);
  transition: transform 500ms 500ms;
  border-bottom: 1px solid var(--section-background-color);
}

.card-spiral-face {
  position: absolute;
  width: 100%;
  height: 100%;

  transform: scale(1) rotate(0);
  transition: transform 500ms;
}

.scene-spiral:hover .card-spiral-face {
  transform: scale(0) rotate(360deg);
}

.scene-spiral:hover .card-spiral-text {
  transform: scale(1) rotate(0);
  opacity: 1;
}

/* ------------------------------- */

.ourteam-background {
  background-color: var(--section-background-color);
}

.ourteam-title {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.ourteam-text {
  font-size: 16px;
  line-height: 1.17;
  margin-bottom: 16px;
}

.ourteam {
  display: flex;
}

.ourteam-list {
  width: 25%;

  background-color: var(--main-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.ourteam-cards {
  text-align: center;
  padding: 30px 0;
}

.ourteam-list:not(:last-child) {
  margin-right: 30px;
}

.soc-networks {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.soc-list {
  list-style-type: none;
}

.soc-link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #afb1b8;
  transition: color var(--time) var(--time-func), background-color var(--time) var(--time-func);
}

.soc-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.soc-link:hover,
.soc-link:focus {
  background-color: #2196f3;
  color: #ffffff;
}

/* Constant clients section styles */

.constant-clients {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.clients-list {
  list-style: none;
}

.clients-link {
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: color var(--time) var(--time-func), border-color var(--time) var(--time-func);
}

.clients-link:hover,
.clients-link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.clients-icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

/* Portfolio */

/* Filtr buttons styles */

.filtr {
  display: flex;
  justify-content: center;
  column-gap: 8px;
  margin-bottom: 50px;
}

.filtr-button {
  padding: 6px 22px;

  border: none;
  border-radius: 4px;
  font-family: inherit;
  background-color: var(--section-background-color);
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  cursor: pointer;
  transition: background-color var(--time) var(--time-func), color var(--time) var(--time-func),
    box-shadow var(--time) var(--time-func);
}

.current-button {
  background-color: var(--accent-color);
  color: var(--main-background-color);
}

.filtr-button:hover,
.filtr-button:focus {
  background-color: var(--accent-color);
  color: var(--main-background-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Projects cards styles */

.ourprojects {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.ourprojects-list {
  flex-basis: 370px;
}

.ourprojects-link {
  display: block;
  text-decoration: none;
  transition: box-shadow var(--time) var(--time-func);
}

.ourprojects-link:hover,
.ourprojects-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.ourprojects-link:hover .ourprojects-overlay,
.ourprojects-link:focus .ourprojects-overlay {
  transform: translatey(0);
}

.ourprojects-title {
  margin-bottom: 4px;

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.ourprojects-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.ourproject-card {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.ourprojects-overlay-borders {
  position: relative;
  overflow: hidden;
}

.ourprojects-overlay {
  position: absolute;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;

  transform: translateY(100.1%);
  transition: transform var(--time) var(--time-func);

  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--main-background-color);
}

/* Modal window */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;

  transition: opacity var(--time) var(--time-func), visibility var(--time) var(--time-func);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
  transition: transform var(--time) var(--time-func);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  min-width: 528px;
  min-height: 581px;

  padding: 40px;

  transform: translate(-50%, -50%) scale(1);

  background-color: var(--main-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.close-backdrop-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;

  cursor: pointer;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--main-background-color);
  color: var(--logo-end-color);
}

.close-backdrop-button:hover,
.close-backdrop-button:focus {
  color: var(--accent-color);
}

.close-backdrop-icon {
  width: 18px;
  height: 18px;
  fill: currentColor;
}

/* Form We will call you */

.form {
  width: 100%;
}

.form-title {
  text-align: center;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.03em;
  line-height: 1.17;
  color: var(--title-text-color);
}

.inputuserdata {
  margin-bottom: 20px;
}

.form-field {
  display: flex;
  flex-direction: column;
}

.form-field:not(:last-child) {
  margin-bottom: 10px;
}

.form-input {
  height: 40px;
  width: 100%;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color var(--time) var(--time-func);
}

.input-icon-position {
  position: relative;
}

.input-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 21px;
  transform: translate(-50%, -50%);
  transition: fill var(--time) var(--time-func);
}

.form-input-text {
  padding: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  outline: none;
  transition: border-color var(--time) var(--time-func);
}

.form-label {
  margin-bottom: 4px;

  font-size: 12px;
  letter-spacing: 0.01em;
  line-height: 1.17;
  color: var(--main-text-color);
}

.form-field:focus-within .form-input,
.form-field:focus-within .form-input-text,
.form-field:focus-within .input-icon {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

.checkbox-input {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.checkbox-field {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border-radius: 2px;
  border: 1px solid #212121;
  transition: background-color var(--time) var(--time-func);
}

.form-policy {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  letter-spacing: 0.03em;
  line-height: 1.71;
  color: var(--main-text-color);
}

.policy-border {
  position: absolute;
  width: 448px;
  height: 26px;
  border-radius: 4px;
  border: 1px solid transparent;
  transition: border-color var(--time) var(--time-func);
}

.checkbox-input:focus ~ .policy-border {
  border-color: var(--accent-color);
}

.checkbox-input:checked ~ .policy-border {
  border-color: transparent;
}

.checkbox-icon {
  width: 16px;
  height: 15px;
  fill: #ffffff;
}

.checkbox-input:checked + .checkbox-field {
  border: none;
  background-color: var(--accent-color);
}

.policy-link {
  color: var(--accent-color);
  z-index: 1;
}

.policy-link:focus {
  outline: 1px solid var(--accent-color);
}

.send-data-button {
  display: block;
  padding: 10px 52px;
  margin: 0 auto;

  border: 0;
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--main-background-color);
  cursor: pointer;
  transition: background-color var(--time) var(--time-func), box-shadow var(--time) var(--time-func);
}
